{% extends 'base.html' %}
{% block content %}

<h1>제목 : {{ review.title }}</h1>
<p>{{ review.content }}</p>

<button type="button" class="btn btn-primary">
    <a class="text-white" href="{% url 'apps:edit' review.pk %}">
        수정
    </a></button>
</td>
<button type="button" class="btn btn-danger">
    <a class="text-white" href="{% url 'apps:delete' review.pk %}">
        삭제</a></button>

<button type="button" class="btn btn-dark"><a class="text-white" href="{% url 'apps:index'%}">홈으로</a></button>


{% endblock %}