{% extends 'base.html' %}
{% block content %}


<h1 class="text-center my-4">{{review.id}}번째 글 수정</h1>
<form action="{% url 'apps:update' review.pk %}">
    <div class="m-4 fs-3">
        <h2>제목</h2><input class="form-control my-2" input type="text" name="title" maxlength="80">
        <h2>내용</h2><textarea class="form-control" input type="text" rows="3" name="content"></textarea>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary mt-3 mb-3">리뷰 쓰기</button>
        </div>
    </div>
</form>






{% endblock %}