{% extends 'base.html' %}
{% block content %}




<div class="container mt-5">
    <div class="col-md-12">

        <h1 class="text-center my-4">영화 리뷰 커뮤니티</h1>

        <body>

            <div class="col-md-12">

                <div class="container ">



                    <table class="table table-bordered">
                        <tr>
                            <thead class="table-dark text-center fs-4">
                                <th>리뷰 번호</th>
                                <th>리뷰 제목</th>
                                <th>작성 시간</th>
                            </thead>
                        </tr>
                        <tbody>
                            {% for review in reviews %}
                            <tr class="text-center">
                                <td class="fs-4">{{review.id}}</td>
                                <td><a class="fs-4" href="{% url 'apps:detail' review.pk  %}">{{review.title}}</a></td>
                                <td class="fs-4">{{review.created_at}}</td>
                            </tr>
                        </tbody>

                        {% endfor %}
                    </table>
                    <button type="button" class="btn btn-dark mb-2" style="float:right;"><a class="text-white fs-4"
                            href="{% url 'apps:new' %}">리뷰 작성</a></button>
                </div>
            </div>
            {% endblock %}


    </div>
</div>
</div>
</div>