<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영화 리뷰 커뮤니티</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <style>
        a {
            text-decoration: none;
        }

        body {
            background-image: url("https://img.freepik.com/free-photo/white-texture_1160-786.jpg?w=1060&t=st=1664522183~exp=1664522783~hmac=975687c630698d9e259d61ad8f2ca4683422f5c228ccc216ef1b3dffc87845e6");
            background-repeat: no-repeat;
            background-size: cover;
        }

        * {
            font-family: 'Do Hyeon', sans-serif;
        }
    </style>
</head>

<body>
    {% block content %}
    {% endblock content %}
</body>

</html>